.chat, .user-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p {
  margin: 0;
}

.panel-body {
  overflow-y: scroll;
  height: 350px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.flash {
  width: 100%;
  padding: 15px;
  border-radius: 2px;

  &__success {
    background: #a5d6a7;
    border: 1px solid #81c784;
    color: #1b5e20;
  }

  &__error {
    background: #ef9a9a;
    border: 1px solid #e57373;
    color: #b71c1c;
  }
}


.user-list {


  &__btn {
    padding: 0 8px;
    margin: 0 2px;
    color: #fff;
    transition: .3s background-color ease;

    &:hover, &:focus {
      color: #fff;
    }
    &_mute {
      background-color: royalblue;

      &:hover, &:focus {
        background-color: lighten(royalblue, 8%);
      }
    }

    &_ban, &:focus {
      background-color: darkred;
      &:hover {
        background-color: lighten(darkred, 15%);
      }
    }
  }

  &__item {
    white-space: nowrap;
  }
}